#include "resource.h"

IDD_MAIN DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dark Souls Online-Mode Toggle"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&ON",IDC_TOGGLEON,174,18,50,14
    PUSHBUTTON      "O&FF",IDC_TOGGLEOFF,174,35,50,14
    PUSHBUTTON      "&Refresh",IDC_REFRESH,62,35,50,14
    GROUPBOX        "Online Toggle",IDT_VERSION,7,7,225,52
    CTEXT           "FrankerZ",IDT_INFO,16,18,144,14
END

IDI_ICON ICON "Darksign.ico"